header{
	
}
.logo{
	width: 10%;
	padding: 20px;

}
.logo img{

}
.search{
	width: 30%;
}
.search .input{}

.search .input input{
    padding: 10px;
    margin-top: px;
}
.search .submit{
	color: white;
}
.search .submit input{
	padding: 10px;
	background-color: green;
}
.search .submit input:hover{
   background-color: white;
}

nav{
	width: 60%;
}
nav ul{}
nav ul li{
	font-size:15px;
	margin-bottom: 20px;
}
nav ul li a{
	text-transform: capitalize;

	

}
nav ul li a i{}
nav ul li a:hover{
	color: green;
}
nav ul li:last-child a{
	
	border: 1px solid green;
	padding:7px;
	color: black;
}
nav ul li:last-child a:hover{
	background-color: green;

}

.banner-section{
	 padding: 200px;
    background: white url(../images/hero.7c51764.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: multiply;


}

.banner-content{}
.banner-content h1{
	font-size: 30px;
    width: 300px;
    color: white;
    text-align: left;
}
.banner-content a{
	 text-transform: capitalize;
    /* text-align: center; */
    border: 1px solid green;
    padding: 15px;
    display: inline-block;
    /* padding-right: 50px; */
   
    margin-top: 10px;
    background-color: green;
}
.banner-content a:hover{
	color: white;
}

.about-section{
	text-align: center;
}
.about-section h2{
	 margin-top: 10px;
}
.about-section p{
	 margin-top: 20px;
    font-size: 15px;
}
.about-section h4{
	
	  font-size: 20px;
	 margin-top: 150px;
}
.lifeatfiverr-section .container{
	background:black;
	margin-top: 30px;}
.video-thumbnail{
    background: red url;
    background: red url(../images/video-thumb.a45ac80.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-thumbnail a{
	color:white;
	font-size: 40px;
}

.find-us{
    padding: 50px;
}
.find-us h3{
    color: white;
    font-size: 30px;
}
.find-us p{
    color: white;
    font-size: 15px;
}
.find-us strong{
    color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}
.find-us a.facebook{
    display: block;
    padding: 10px;
     background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 34%, rgba(131,58,180,1) 100%, rgba(252,176,69,1) 100%);
    margin-bottom: 10px;
    text-align: center;
}
.find-us a.facebook:hover{}
.find-us a.instagram{
    background-color: green;
    padding: 10px;
    display: block;
    text-align: center;
}



.location-section{}

	.location-section h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    margin-top: 40px;
}

.location{
	padding: 10px;
	position: relative;
}
.location img{
	 height: 200px;
    object-fit: cover;
    width: 100%;
}
.location imgheight img{
	height: 400px;
	object-fit: cover;
	width: 100%;
}
.location .height img{
	height: 200px;
	object-fit: cover;
	width: 100%;
}
.location h3{
	    position: absolute;
    bottom: 50%;
    right: 50%;
    color: white;
    transform: translate(50%,50%);
    font-size: 20px;
    text-transform: capitalize;
}
.category-section{
	padding: 80px opx;
}
.category-section h2{
    text-align: center;
    text-transform: capitalize;
}
.team-cat{
    padding: 30px 20px;
    
    text-align: center;

box-shadow:  -20px -20px 40px #e6e9eb, 
             20px 20px 40px #ffffff;
}


.team-cat h4{
	text-transform: capitalize;
	
	border-bottom: 1px solid #c5d0c5;
}
.team-cat span{
	text-transform: capitalize;
}
.employee{
    text-decoration: underline;
    text-align: right;
    text-transform: capitalize;
}

.social-section .col a{
    padding: 10px;
    display: block;
    border: 1px solid;
    text-align: center;
}

.social-section{
	padding: 80px 0px;
}

.employee a{}
.social-section .col{
	width: 25%;
	padding: 10px;
}
.social-section .col a{}
.social-section .col a:hover{}

.dolist-section{

padding: 80px 0px;
}
.dolist-section img{
    margin-bottom: 10px;
}
.do-list{
    padding: 40px;
}
.do-list h3{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.do-list p{
    font-size: 15px;
    margin-bottom: px;
    margin-bottom: 5px;
}
.do-list a{
    text-transform: capitalize;
   
    padding: 5px;
   
}
.do-list a:hover{}

footer{
	
	border-top: 1px solid gray;
}
.footer logo img{}
ul .footer-menu{
	float: left;
}
ul .footer-menu li{}
ul .footer-menu li a{}
ul .footer-menu li a:hover{}
footer p{
	 font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
}

ul .social-list{
	width: 70%;

}
ul .social-list li{
	float: left;
}
ul .social-list li a{}
ul .social-list li a:hover{}

ul .other-link{
	width: 30%;
	
}
ul .other-link li{
	font-size: 20px;
}
ul .other-link li a{
	padding: 10px;
}
ul .other-link li a:hover{}


